<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>ОЛДИН</title>
  <link rel="stylesheet" type="text/css" href="style/print-style.css">
 </head>
 <body>

   <main>
     <h1 class="product-name">Наименование продукции</h1>
     <div class="img_1"></div>
     <div class="img_2"></div>

     <p class="desc">Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта. Текст описания продукта.</p>

     <table border="0">
        <tr><th>Какой-либо параметр</th><th>Какой-либо параметр</th></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
        <tr><td>Какой-либо параметр</td><td>Какой-либо параметр</td></tr>
      </table>

   </main>

 </body>
</html>
