{% extends "ProjectBundle:Admin:layout.html.twig" %}

{% block containerUsers %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Добавление статьи</h2> 
        {% if form is defined %}{{ form_start(form, {'method': 'post', 'action': path('addarticle')}) }}
            {{ form_widget(form) }}
        {% endif %}
        {% if message is defined %}
            <font color="green">{{message}}</font>
        {% endif %}
    </div>
{% endblock %}