{% extends "ProjectBundle:Admin:layout.html.twig" %}

{% block containerUsers %} 
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <center><h2 class="sub-header">Добро пожаловать, {{user.username}}</h2></center>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h4 class="sub-header">Вы авторизовались как Разработчик</h4>
            {% elseif is_granted('ROLE_ADMIN') %}
                <h4 class="sub-header">Вы авторизовались как Администратор</h4>
            {% endif %}
      </div>
      
{% endblock %}