<a href="/"><img class="header_logo" src="{{asset('web/img/logo.png')}}"></a>
      <ul class="header_menu">
       <li><a href="/">Главная</a></li>
       <li><a href="#">Каталог</a>
	   
	   <ul class="mn-catalog">
           <li><a href ="/fixtures">Светодиодные светильники</a></li>
                        <li><a href ="/lampa">Светодиодные лампы</a></li>
                        <li><a href ="/lenta">Светодиодные ленты, модули, БП</a></li>
                        <li><a href ="/profil">Алюминиевый профиль</a></li>
                        <li><a href ="/opora">Осветительные опоры и мачты</a></li>
                        <li><a href ="/schit">Электрощитовое оборудование</a></li>
                        <li><a href ="/newyear">Новогоднее освещение</a></li>
         </ul></li>
        <li><a href="/info">Информация</a><ul class="mn-info">
      <li><a href ="https://ol1.by/info/43">Промышленный светодиодный светильник.</a></li>
         <li><a href ="https://ol1.by/info/47">От чего зависит цена уличного светильника?</a></li>
		 <li><a href ="https://ol1.by/info/48">Офисный светодиодный светильник.</a></li>
       </ul>
     </li>
       <li><a href="/partners">Наши партнеры</a></li>
       <li><a href="/contacts">Контакты</a></li>
       <li id="header_search-link"><ul class="mn-search">
         <input placeholder="Поиск по каталогу">
       </ul></li>
     </ul>
	 
	 